[submodule "repos/nim-DAZZ_DB"]
	path = repos/nim-DAZZ_DB
	url = https://github.com/bio-nim/nim-DAZZ_DB
	ignore=dirty
	branch = dev
[submodule "repos/nim-htslib"]
	path = repos/nim-htslib
	url = https://github.com/bio-nim/nim-htslib
	ignore=dirty
[submodule "repos/nim-DALIGNER"]
	path = repos/nim-DALIGNER
	url = https://github.com/bio-nim/nim-DALIGNER
	ignore=dirty
	branch = dev
[submodule "repos/nim-heap"]
	path = repos/nim-heap
	url = https://github.com/bio-nim/nim-heap
	ignore=dirty
[submodule "repos/cligen"]
	path = repos/cligen
	#url = https://github.com/c-blake/cligen
	url = https://github.com/bio-nim/cligen
	ignore=dirty
	branch = dev
[submodule "repos/msgpack4nim"]
	path = repos/msgpack4nim
	#url = https://github.com/jangko/msgpack4nim
	url = https://github.com/bio-nim/msgpack4nim
	ignore=dirty
	branch = dev
